<div class="container">
    <div *ngIf="isError" class="errorContainer alert alert-danger" id="errorEmailContainer">
        {{errTxt}}
    </div>
    <form action="" #logindata="ngForm" (ngSubmit)="formSubmit(logindata)" class="login-form">
        <div class="form-group">
            <label class="formLabel" for="email" [class.error] = "isError">
                Email:
            </label>
            <input  [attr.aria-describedby]="isError ? 'errorEmailContainer' : ''" [class.errorInput] = "isError" name="email" [(ngModel)]='email' type="text" id="email" class="form-control" type="text">
            <div *ngIf="isspecError" class="errorContainer alert alert-danger" id="errorEmailContainer">
                Some error text goes here...!
            </div>
        </div>
        <div class="form-group">
            <label [class.error] = "isError" class="formPwd" for="password" >
                Password:
            </label>
            <input  [attr.aria-describedby]="isError ? 'errorEmailContainer' : ''" [class.errorInput] = "isError" name="pwd" [(ngModel)]='pwd' type=" text" id="password" class="form-control" type="text">
            <div *ngIf="isspecError" class="errorContainer alert alert-danger" id="errorPasswordContainer">
                Some error text goes here...!
            </div>
        </div>
        <div class="form-group">
            <label for="remember" class="remember">
                <input type="checkbox" ngModel name="remember" id="remember">
                Remember My Password?
            </label>

        </div>
        <div class="sumbit-form text-center">
            <button class="sub-btn btn btn-primary" type="submit">Submit</button>
        </div>

        <p>{{logindata.value | json}}</p>
    </form>
</div>
